{{#section 'css'}}
    {{!-- <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/bootstrap-social.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="/assets/css/breadcrumbs.css">
    <link href="/assets/css/docs.css" rel="stylesheet"> --}}
{{/section}}
{{#section 'js'}}
    <script type="text/javascript">

    $('.resetAcc').on('click', function() {
        var id = $(this).data('id');
        $('#txtResetAccId').val(id);
        $('#frmResetAcc').submit();
    });

    {{!-- $('.removeAcc').on('click', function() {
        var id = $(this).data('id');
        $('#txtDelAccId').val(id);
        $('#frmDeleteAcc').submit();
    }); --}}

    
            $('#delete-modal').on('show.bs.modal', function(e) {
            
            var $modal = $(this),
                esseyId = e.relatedTarget.id;
            $modal.find('.delete-content').html(esseyId);
            
            })
            $("#delEventBtn").on("click",function()
            {
                console.log(parseInt($(".delete-content").html()));
               
                    $('#txtDelAccId').val(parseInt($(".delete-content").html()));
                    $('#frmDeleteAcc').submit(); 
            })

    </script>
{{/section}}
<div class="col-md-12">
    {{#if errorMsg }}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ errorMsg }}
        </div>
    {{/if}}
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: rgb(255, 51, 153)">
            <span class="panel-title">Danh sách tài khoản</span>
        </div>
        <div class="panel-body">
            <form method="post" action="/manager/account/reset" id="frmResetAcc">
                <input type="hidden" name="accId" id="txtResetAccId">
            </form>
            <form method="post" action="/manager/account/delete" id="frmDeleteAcc">
                <input type="hidden" name="accId" id="txtDelAccId">
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã số</th>
                        <th>Email</th>
                        <th>Tên</th>
                        <th>Điểm cộng</th>
                        <th>Reset mật khẩu</th>
                        <th>Xóa tài khoản</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each accounts}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{email}}</td>
                            <td>{{ten}}</td>
                            <td>{{diemcong}}</td>
                            <td>
                                <a href="javascript:;" class="btn btn-xs btn-primary resetAcc" data-id="{{id}}" title="reset">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </a>
                            </td>
                            <td>
                                <div><a href="#myModal" data-toggle="modal" id="{{id}}" data-target="#delete-modal" class="btn btn-xs btn-danger"> 
                       <span class="fas fa-trash-alt"></span></a></div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Muốn xóa tài khoản danh sách?</h4>
                </div>
                <div class="modal-body delete-content hidden">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="delEventBtn">Xóa</button>
                </div>
            </div>
        </div>
    </div>
