{{#section 'title'}}
    Thông tin tài khoản
{{/section}}
{{#section 'breadcrumbs'}}
    <div class="row container-fluid">
        <ol class="breadcrumb breadcrumb-arrow">
            <li><a href="/home">Trang chủ</a></li>
            <li class="active"><span>Tài khoản</span></li>
        </ol>
        <!-- /Đường dẫn -->
    </div>
{{/section}}
{{#section 'css'}}
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
    .btn-account i {
        margin-top: 2%;
        font-size: 30px;
    }
    
    .btn-account span {
        padding-left: 15px;
        padding-right: 5px;
        width: 100%;
        display: inline-block;
        text-align: left;
        font-size: 130%;
    }
    
    .btn-account span small {
        width: 100%;
        display: inline-block;
        text-align: left;
    }
    </style>
{{/section}}
{{#section 'js'}}
    <script type="text/javascript" src="/assets/bootstrap-4.3.1-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/assets/jquery-validation-1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
    $('.form_date').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('#formInfo').validate({
        ignore: ".ignore",
        rules: {
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            dob: {
                required: true
            },

            radioGender: {
                required: true
            },
            phone:{
                required: true
            }
        },

        messages: {
            name: {
                required: 'Vui lòng nhập họ tên'
            },
            email: {
                required: 'Vui lòng nhập email',
                email: 'EMail không đúng định dạng'
            },
            dob: {
                required: 'Vui lòng chọn ngày sinh'
            },
            radioGender: {
                required: 'Vui lòng chọn giới tính của bạn'
            },
            phone: {
                required: 'Vui lòng nhập số điện thoại'
            }
        },

        errorElement: 'span',
        errorClass: 'help-block',

        highlight: function(element) {
            $(element)
                .closest('.form-group')
                .addClass('has-error');
        },

        success: function(label) {
            $(label)
                .closest('.form-group')
                .removeClass('has-error');

            label.remove();
        },
    });
    </script>
{{/section}}
<div class="container">
    <div class="panel panel-default" style="border-color: white;">
        <div class="panel-heading" style="background-color: rgb(255, 51, 153); color:#fff">
            Thông tin tài khoản
        </div>
        <form class="form-horizontal" method="POST" id="formInfo">
            <!-- form -->
            <div class="panel-body">
                <!-- panel body -->
                <div class="col-sm-9">
                    {{#if showError }}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Warning!</strong> {{ errorMsg }}
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <!-- Họ Tên tài khoản -->
                        <input type="hidden" name="id" value="{{layoutModels.account.id}}">
                        <label class="control-label col-sm-4" for="ten">Họ và tên (*) :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="ten" name="name" placeholder="Họ và tên" value="{{layoutModels.account.name}}">
                        </div>
                    </div>
                   <div class="form-group">
                        <!-- địa chỉ tài khoản -->
                        <label class="control-label col-sm-4" for="ten">Địa chỉ (*) :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="diachi" name="address" placeholder="Địa chỉ" value="{{layoutModels.account.address}}">
                        </div>
                    </div>

                     <div class="form-group">
                        <!-- địa chỉ tài khoản -->
                        <label class="control-label col-sm-4" for="sodienthoai">Số điện thoại (*) :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="sodienthoai" name="phone" placeholder="Số điện thoại" value="{{layoutModels.account.phone}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- Giới tính radio -->
                        <label class="control-label col-sm-4" for="chonGioiTinh">Giới tính (*) :</label>
                        <div class="col-sm-8">
                            {{#isEqual layoutModels.account.gender 1}}
                                <label class="radio-inline">
                                    <input type="radio" name="gender" checked value="1">Nam</label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="0">Nữ</label>
                            {{else}}
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="1">Nam</label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" checked value="0">Nữ</label>
                            {{/isEqual}}
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Ngày sinh -->
                        <label for="dtp_input2" class="col-sm-4 control-label">Ngày sinh:</label>
                        <div class="col-sm-8">
                            <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input class="form-control" type="text" value="{{layoutModels.account.dob}}" name="dob" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <input type="hidden" id="dtp_input2" value="" />
                        </div>
                    </div>
                    <!-- Địa chỉ email -->
                    <div class="form-group">
                        <!-- Email -->
                        <label class="control-label col-sm-4" for="email">Email (*) :</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" id="email" placeholder="Nhập email" value="{{layoutModels.account.email}}" disabled>
                        </div>
                    </div>
                     <div class="form-group">
                        <!-- Point -->
                        <label class="control-label col-sm-4" for="point">Điểm cộng (*) :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="point" value="{{layoutModels.account.positivepoint}}" disabled>
                        </div>
                    </div>
                    <!-- Đổi mật khẩu -->
                     {{#checkChangePass layoutModels.account.type}}
                    <div class="row">
                        <div class="col-sm-4"></div>
                        
                        <div class="col-sm-8"><a href="changePassword">Đổi mật khẩu</a></div>
                       
                    </div>
                     {{/checkChangePass}}
                </div>
            </div>
            <!-- panel body -->
            <div class="panel-footer">
                <div class="col-sm-offset-3">
                    <button type="submit" class="btn btn-success">Cập nhật thông tin</button>
                </div>
            </div>
        </form>
        <!-- form -->
    </div>
</div>
